body, td {font-size: 12pt;}
body {margin: 0px;}

a {color: #2c4795}
a:hover {color: red}
a:visited {color: #2c4795;}

a:visited:hover {color: red;}

input, textarea {
    border: 1px solid;
    border-color: #767676;
    padding: 2px 2px 2px 2px;
    color: #333333;
    margin-bottom: 8px;
    font-size: 11pt;
}

.headlink {
    font-size: 12pt;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}

.headlink:hover {
    text-decoration: underline;
    color: white;
}

.headbtn {
    margin: 0px;
    padding: 2px;
    text-align: center;
    width: 120px;
}

.navlink {
    font-size: 10pt;
    font-family: sans-serif;
    text-decoration: underline;
}

.navi {
    font-size: 8pt;
    color: #9f9f9f;
}

.navi a {
    font-size: 8pt;
    color: #9f9f9f;
    text-decoration: underline;
}

.navi a:hover {
    font-size: 8pt;
    color: #ff0000;
    text-decoration: underline;
}

#nav {list-style-type: none; list-style: none; margin: 0; padding: 0; overflow: hidden; display: block;}
#nav li {float: left; color: #9f9f9f;}
#nav li a {display: block; //display: inline; height: 31px; text-decoration: underline; padding: 2px 6px 0 2px; margin-right: 2px;}
#nav li a:hover {color: #ff0000; text-decoration: underline;}
#nav li.checked a {display: block; //display: inline; height: 31px; color: #F00; text-decoration: none; padding: 8px 20px 0 8px; margin-right: 2px;}


h1 {
    font-family: serif;
    font-weight: normal;
    font-size: 20pt;
    /*border-bottom: solid 1px black;*/
    margin-bottom: 10px
}

.insetheader {
    font-family: serif;
    font-weight: normal;
    font-size: 20pt;
    /*padding: 0px 5px 5px 10px*/
}


.news {
    margin: 0 20px 40px 20px
}

h2 {
    font-family: serif;
    font-weight: normal;
    font-size: 16pt;
    margin: 0;
    /*padding: 0px 5px 5px 10px*/
}

h3 {
    font-family: serif;
    font-weight: normal;
    font-size: 14pt;
    margin: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #999999;
    /*padding: 0px 5px 5px 10px*/
}


h5 {
    font-size: 12pt;
    color: #333333;
    font-weight: normal;
    margin: 0 0 8px 0;
}

.loginform {
    border: 1px solid;
    border-color: #999999;
    padding: 5px 5px 5px 5px;
    margin-bottom: 8px;
    font: 11pt;
    width: 150px;
}



hr {
    height:1px;
    border-style: none;
    color: #cccccc;
    background-color: #cccccc;
}

#debug {
    background-color: #656565;
}
#debug td.q,tr.q {
    background-color: #ffffff;
    border: 0px solid;
    font-size: 8pt;
    color: #383838;
}

table.frmfont td {
    font-family: sans-serif;
    font-size: 8pt;
    border: 0px solid;
}

table.frm td {
    padding: 0px 10px 7px 0px;
    vertical-align: top;
    font-family: sans-serif;
    font-size: 8pt;
}

.comment {
    padding: 3px 0px 0px 0px;
    font-size: 8pt;
    color: #444444;
}

.nav, .nav td {
    font-size: 10pt;
    font-family: sans-serif;
}

p, ul, ol
{
    padding: 0;
    margin: 1em 0;
}

li
{
    margin: 0.5em 0 0.5em 1.3em;
}

ul
{
    list-style-type: none;
}

ul.marked li
{
    padding: 0;
    behavior: expression( !this.before && parentNode && parentNode.tagName == 'UL' ? this.before = ( 1
            | ( parentNode.style.listStyleImage = 'none' )
            | ( this.firstChild && this.firstChild.nodeType != 3
                ? ( 1 | ( this.firstChild.style.marginTop = '-1.2em' ) | ( this.firstChild.style.position = 'relative' ) ) : 1 )
            | ( this.innerHTML = '<nobr style="position: relative; width: 1.25em; left: -1.25em; margin: 0 -1.25em 0 0;">&mdash;&nbsp;</nobr>'
                + this.innerHTML ) ) : '' );
}

ul.marked>li:before
{
    content: '\2014\a0';
    float: left;
    margin-left: -1.25em;
}

ul.marked>li>*:first-child:-moz-first-node
{
    margin-top: -1.2em;
}

ul.marked>li>*
{
    text-indent: 0;
}

.data {
    border-collapse: collapse;
    border-spacing: 0;
}

table.data th
{
    text-align: left;
    font-weight: normal;
    border-bottom: solid 1px black;
}

table.data th, table.data td
{
    padding: 7px;
}

.right_menu {
    background-color: transparent;
}

.right_menu td {
    background-color: transparent;
    padding: 5pt;
    margin: 5pt;
}

.right_menu a {
    background-color: transparent;
    padding: 5pt;
}

.right_menu td.special {
    background-color: #d5ffd5;
    padding: 5pt;
}

.right_menu td.admin {
    background-color: #ffd5d5;
    padding: 5pt;
}



/* System message
------------------------------------------------------------------------------*/
.sysmessage_negative {
    border: 1px solid red;
    text-align: center;
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #f9e9e9;
    color: red;
    margin: 5pt;
}

.sysmessage_negative h4{
    color: red;
    padding-bottom: 5pt;
    border: 1px transparent;
}

.sysmessage_positive {
    border: 1px solid green;
    text-align: center;
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #e9f9e9;
    color: green;
    margin: 5pt;
}

.sysmessage_positive h4{
    color: green;
    padding-bottom: 5pt;
    border: 1px transparent;
}

.sysmessage_notice {
    border: 1px solid grey;
    text-align: center;
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #e9e9e9;
    margin: 5pt;
}

.sysmessage_notice h4{
    color: black;
    padding-bottom: 5pt;
    border: 1px transparent;
}
    


/*
 * Form
 */
form .errormsg { color: red; }
