#
# Options for Mysql Database
#
db_host=localhost
db_user=uniclust
db_name=uniclust
db_passwd=password

#
# Full(!) path to 'server.py' locking file
#
lock_file=/path/to/server.py.lock

#
# Full(!) path to upcoming task data
#
data_path=/archive/data/uniclust

#
# UNIX group
#
group=uniclust

#
# UNIX group
#
user=uniclust

#
# See "website/etc/global_vars.php.example" for explanations
#
site_address=example.host

path_on_site=/uniclust
#

#
# For 'backfill' algorithm
#
timeout_server=300
